<a href="https://colab.research.google.com/github/AniketBedwal/AniketBedwal_AIMLBootcamp_Genzeon_2023/blob/main/05June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("ANIKET BEDWAL")

ANIKET BEDWAL

In [ ]:
name = 'Piyush'
print(f'Welcome To genzeon {name}')
aadhar = int(input('Enter aadhar card'))
print(f'{aadhar}')

In [1]:
c=7+5j
print(c.real)
print(c.imag)

7.0
5.0

In [ ]:
#integer
a = 1
b = 4+5j

#float
c = 5.4

#text
s="hello"

#sequence type
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)

#Mapping
dict={"name" : "aniket"}

#set
set1 = {1,2,3,4}

#boolean
x=true
y=float

In [4]:
a=3
b=4.3
c=float(a)
d= int(b)

print(c)

3.0

In [8]:
str = "     aniket"
str1 = str.upper()
print(str1)
str2 = str.lstrip()
print(str2)
dir(str)

     ANIKET
aniket

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [20]:
str5 = " Aniket Bedwal"
print(str5.upper())
print(str5.title())
print(str5.rstrip())
print(str5.lstrip())
print(str5.swapcase())
print(str5.startswith('  '))
print(str5.ljust(10))
str6 = " Aniket Bedwal"

 ANIKET BEDWAL
 Aniket Bedwal
 Aniket Bedwal
Aniket Bedwal
 aNIKET bEDWAL
False
 Aniket Bedwal

In [23]:
a=10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #int 
print(a**b) # return power

30
-10
200
0.5
0
100000000000000000000

In [24]:
#type conversion
a=3
b=4.0
c=float(a)
d=int(b)
print(c,d)

3.0 4

In [28]:
set={"name","is","aniket"}
print(set)
type(set)

{'is', 'name', 'aniket'}

set

In [33]:
#comparison
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
#print(a=b)

print(a<=b)

False
True
False
True

In [34]:
#assignment operator
c=a+b
c+=a
c-=a
c*=a

In [36]:
x=True
y=False
print("x and y is", x and y)
print("x or y", x or y)
print("x not is", not x)

x and y is False
x or y True
x not is False

In [37]:
a=11
b=12
print(a&b)
print(a|b)
print(a^b)
print(~a)

8
15
7
-12

In [39]:

cars=["mercedes","ferrari","porshe","lambo"]
print(cars)
cars.append("maruti")
print(cars)
cars.insert(2,"rolls royce")
print(cars)
cars.remove("maruti")
print(cars)
cars.reverse()
print(cars)

['mercedes', 'ferrari', 'porshe', 'lambo']
['mercedes', 'ferrari', 'porshe', 'lambo', 'maruti']
['mercedes', 'ferrari', 'rolls royce', 'porshe', 'lambo', 'maruti']
['mercedes', 'ferrari', 'rolls royce', 'porshe', 'lambo']
['lambo', 'porshe', 'rolls royce', 'ferrari', 'mercedes']